<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sector</title>
    <link rel="stylesheet" href="dodaj-sektor.component.css">
</head>
<body>
    <div class="container">
        <h2>Dodaj sektor</h2>
        <form class="sector-form">
            <label for="naziv">Naziv:</label>
            <input type="text" id="ime" name="ime" required>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

