<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smjena Form</title>
    <link rel="stylesheet" href="dodaj-smjenu.component.css">
</head>
<body>
    <form class="smjena-form">
        <h3>Dodaj smjenu</h3>
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" name="naziv" required>
        
        <label for="pocetak">Pocetak smjene:</label>
        <input type="time" id="pocetak" name="pocetak" required>
        
        <label for="kraj">Kraj:</label>
        <input type="time" id="kraj" name="kraj" required>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
